QMainWindow {
  background-color: #31363b; }

	
QPushButton {
  border-radius: 10px;
  border-style: outset;
  border-width: 2px;
  border-color: rgb(119,221,231);
  color: #eff0f1;
  font: bold 20px;
  font-family:Impact;
  min-width: 10em;
  padding: 6px;
	 }

QPushButton:hover {
  border-width: 2px;
  border-color: rgb(60,213,200);
  color: rgb(60,213,200); }

QPushButton:pressed {
  background-color: rgb(119,221,231);
  border-color: #268C52;
  border-style: inset; }

QSlider::handle:horizontal{
  background: rgb(60,213,200);
  border: 2px solid  rgb(60,213,200);
  width: 10px;
  margin: -30px 0;
 
}

QSlider::groove{
  border: none;  
  height: 3px;
}


QSlider::sub-page{
  background: rgb(60,213,200); 

}
QSlider::add-page{
  background: white; 

}


QLabel {
  qproperty-alignment:AlignCenter;
  color: #eff0f1;
  font: bold 17px;
  font-family:"Lucida Console";
  
   }
   
QInputDialog {
  background-color: #31363b;
 }
QFrame#frame{
	border-style: solid; border-width: 4px; border-color: rgb(60,213,200);
}
QLabel#lb_green {
  border-style: solid; border-width: 2px; border-color: rgb(60,213,200);
  color: rgb(100,250,100);
} 
QLabel#lb_red {
  border-style: solid; border-width: 2px; border-color: rgb(60,213,200);
  color: rgb(255,0,0);
} 
QLabel#lb_yellow {
  border-style: solid; border-width: 2px; border-color: rgb(60,213,200);
  color: rgb(242,245,26);
} 
QLabel#lb_purple {
  border-style: solid; border-width: 2px; border-color: rgb(60,213,200);
  color: rgb(190,0,255);
} 
  
QLabel#lb_border {
  background-color: rgb(40,45,50);
  border-style: solid; border-width: 2px; border-color: rgb(60,213,200);
  border-radius: 10px;
  border-style: outset;
}

 
  
